ion-toolbar{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light)
}

ion-back-button{
    --color: var(--ion-color-light)
}

ion-back-button{
    --color: var(--ion-color-light)
}

ion-icon{
 
    color: #fff

}

ion-icon.action-sheet-icon.sc-ion-action-sheet-ios.ios.hydrated {
    color: var(--ion-color-primary);
}

